---
import Menu from '../assets/menu.svg';
import Button from './common/Button.astro';
---

<div id="nav" class="flex items-center justify-between p-4">
    <h1 class="text-3xl">Esteban Diaz</h1>
    <Button
        variant="link"
        size="icon-lg"
    >
        <Menu
            fill="currentColor"
        />
    </Button>
</div>