---
import Button from "@/components/common/Button.astro"
import ArrowUp from "@/assets/arrowUp.svg"
import LinkedIn from "@/assets/LinkedIn.svg"
import GitHub from "@/assets/gitHub.svg"
---

<div id="container" class="my-6">
	<main>
		<section id="hero" class="px-4">
			<section class="flex flex-col gap-5">
				<h2 class="text-6xl font-family-sans">Hi, i am </br> Esteban diaz </h2>
				<p>A Sydney based front-end developer passionate about building accessible and user friendly websites.</p>
				<div class="flex gap-4">
					<Button
						size="lg"
						class="w-fit pl-3 py-3"
					>
					<span class="uppercase">Contact Me</span>
					<div class="rounded-full bg-black color-white p-2">
						<ArrowUp
							class="text-white"
							width={20}
							height={20}
						/>
					</div>
					</Button>
					<Button
						size="icon-xs"
						variant="secondary"
						class="w-fit p-2"
					>
						<LinkedIn
							fill="currentColor"
						/>
					</Button>
					<Button
						size="icon-xs"
						variant="secondary"
						class="w-fit p-2"
					>
						<GitHub
							fill="currentColor"
						/>
					</Button>
				</div>
				<div></div>
			</section>
		</section>
	</main>
</div>
